<h1>{{ titulo }}</h1>
<table class="table table-hover table-dark">
  <tr>
    <td>Descripcion</td>
    <td>Codigo</td>
    <td></td>
    <td>Precio</td>
    <td class="imagenHead"></td> 
    <td></td>
  </tr>
  <tbody><!--

  -->
    <tr class="table-dark" *ngFor="let art of articulos">
    <td>{{ art.descripcion }}</td>
    <td>{{ art.codigo }}</td>
    <td><img src={{art.imagen}} class="imagen"></td>
    <td>$ {{ art.precio }}</td>
    <td> <img *ngIf="art.precio < 500" [src] = lowprice class="imagen"><img *ngIf="art.precio >= 500" [src] = vip class="imagen"> </td>
    <td>
    <button class ="btn btn-primary" (click)="IncrementarPrecio(art)"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <button class ="btn btn-primary" (click)="DecrementarPrecio(art)"><i class="fa fa-minus" aria-hidden="true"></i></button>
  </td>
  </tr>
  <!-- no me anduvo
<td>
  <a [routerLink]="['/articulos', articulos.id]">
    {{articulo.descripcion}}
  </a>
</td>
-->
  </tbody>
</table>
